<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>548789043623-n2htn4nspovmt6dk49oigrmtuqcv2p73.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.548789043623-n2htn4nspovmt6dk49oigrmtuqcv2p73</string>
	<key>API_KEY</key>
	<string>AIzaSyD6QyGugg4crM_d9KW5aIpZyUyUbpOF08E</string>
	<key>GCM_SENDER_ID</key>
	<string>548789043623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.oralHygieneHabits</string>
	<key>PROJECT_ID</key>
	<string>oral-hygiene-habits-aa818</string>
	<key>STORAGE_BUCKET</key>
	<string>oral-hygiene-habits-aa818.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:548789043623:ios:76e14d9910fb758ba23682</string>
</dict>
</plist>